:root {
  --tile-width: 8.5vw;
  --tile-gap: 4px;
  --tile-height: 5vw;
}

#game-container {
  padding: 4px;
  user-select: none;
}

#header {
  .tile,
  .big-tile {
    color: white;
  }
}

.text-tile {
  font-size: 2vw;
  line-height: 2vw;
}

.tile {
  text-align: center;
  border-radius: 0.25em;
  background: #d8e4eb;
  font-size: 3vw;
  line-height: 3vw;
  color: #0000;
}

.selected {
  color: white;
}

.tails {
  margin-top: 1em;
}

.big-tile {
  .big-tile-header {
    font-size: 2vw;
    line-height: 2vw;
    margin-bottom: 0.5vw;
  }
  font-size: 3vw;
  line-height: 3vw;
  background-color: var(--big-tile);
}

.heads-tile {
  background-color: var(--heads);
}

.tails-tile {
  background-color: var(--tails);
}

#back-title {
  color: var(--row5);
}

#run-title {
  color: var(--row6);
}

#heads-title {
  color: var(--heads);
}

#tails-title {
  color: var(--tails);
}

#fast-forward {
  .clicked {
    // color: #0facde;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

#game-summary {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 50vw;
  height: 80vh;
  background: #d8e4eb;
  border-radius: 1em;
  z-index: 1000;
  position: absolute;
  margin-right: auto;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  box-shadow: 0 11px 15px -7px #0003, 0 24px 38px 3px #00000024,
    0 9px 46px 8px #0000001f;
}

.spacer-label {
  height: 100%;
}

.board-label {
  span {
    transform: rotate(-90deg);
    font-size: 2vw;
    line-height: 2vw;
  }
  border-radius: 0.25em;
  color: white;
}

.spacer-tile {
  visibility: hidden;
}
