<section fxLayout="column">
  <div class="result-header" fxLayout="row" fxLayoutAlign="end">
    <div
      class="inner-result-header"
      fxLayoutAlign="center center"
      fxLayoutGap="4px"
    >
      <div id="heads-container" fxLayout="column" fxLayoutAlign=" center">
        <div id="heads-title">Heads</div>
        <div
          id="heads-count"
          class="tile heads-tile"
          fxLayoutAlign="center center"
        >
          {{ headCount }}
        </div>
      </div>
      <div id="tails-container" fxLayout="column" fxLayoutAlign=" center">
        <div id="tails-title">Tails</div>
        <div
          id="tails-count"
          class="tile tails-tile"
          fxLayoutAlign="center center"
        >
          {{ tailCount }}
        </div>
      </div>
      <div
        id="game-id"
        class="big-tile"
        fxLayoutAlign="center center"
        fxLayout="column"
        fxLayoutGap="4px"
      >
        <div class="big-tile-header">
          <div>GAME</div>
        </div>
        <div>{{ gameNumber }}</div>
      </div>
      <ng-container *ngIf="gameFinished; else faster">
        <ng-container
          *ngIf="gameNumber < (this.config?.games ?? 0); else allFinished"
        >
          <div
            id="time-until-next"
            class="big-tile"
            fxLayoutAlign="center center"
            fxLayout="column"
            fxLayoutGap="4px"
          >
            <div class="big-tile-header">
              <div>NEXT GAME IN</div>
            </div>
            <div>0:{{ secondsTilNext }}</div>
          </div>
        </ng-container>
        <ng-template #allFinished>
          <div
            id="all-games-finished"
            class="big-tile"
            fxLayoutAlign="center center"
            fxLayout="column"
            fxLayoutGap="4px"
          >
            <div class="big-tile-header">
              <div>FINISHED</div>
            </div>
            <div>$0.00</div>
          </div>
        </ng-template>
      </ng-container>
      <ng-template #faster>
        <div
          id="fast-forward"
          class="big-tile"
          fxLayoutAlign="center center"
          (click)="changeDrawTime()"
          fxLayout="column"
          fxLayoutGap="4px"
        >
          <div class="big-tile-header">
            <div>{{ fast ? "SLOWER" : "FASTER" }}</div>
          </div>
          <mat-icon [ngClass]="{ clicked: fast }">fast_forward</mat-icon>
        </div>
      </ng-template>
    </div>
  </div>
  <div
    class="board"
    fxFlex
    fxLayoutGap="4px"
    fxLayout="row wrap"
    fxLayoutAlign="center"
  >
    <div
      *ngFor="let tile of tiles"
      class="tile"
      fxLayoutAlign="center center"
      [id]="'tile-' + tile"
      [ngClass]="{ tails: tile > 40 && tile <= 50 }"
    >
      {{ tile }}
    </div>
  </div>
</section>
