<section id="game-container">
  <div id="header">
    <mat-grid-list cols="22" rowHeight="1:1" gutterSize="4" class="mb-4">
      <mat-grid-tile class="spacer-tile tile" colspan="1"></mat-grid-tile>
      <mat-grid-tile id="back-title" class="text-tile" colspan="2"
        ><span>Setup</span></mat-grid-tile
      >
      <mat-grid-tile id="run-title" class="text-tile" colspan="2"
        ><span>Again</span></mat-grid-tile
      >
      <mat-grid-tile class="spacer-tile tile" colspan="4"></mat-grid-tile>
      <mat-grid-tile id="heads-title" class="text-tile" colspan="2"
        ><span>Heads</span></mat-grid-tile
      >
      <mat-grid-tile id="tails-title" class="text-tile" colspan="2"
        ><span>Tails</span></mat-grid-tile
      >
      <mat-grid-tile class="tile big-tile" rowspan="2" colspan="4">
        <div id="current-game-number">
          <div class="big-tile-header">
            <div>GAME</div>
          </div>
          <div>{{ gameNumber }}</div>
        </div>
      </mat-grid-tile>

      <ng-container *ngIf="gameFinished; else faster">
        <ng-container
          *ngIf="gameNumber < (config?.games ?? 0); else allFinished"
        >
          <mat-grid-tile class="tile big-tile" rowspan="2" colspan="4">
            <div id="time-until-next">
              <div class="big-tile-header">
                <div>NEXT GAME IN</div>
              </div>
              <div>0:{{ secondsTilNext }}</div>
            </div>
          </mat-grid-tile>
        </ng-container>
        <ng-template #allFinished>
          <mat-grid-tile
            class="tile big-tile clickable"
            rowspan="2"
            colspan="4"
            (click)="showSummary = true; gs.dialogOpened = true"
          >
            <div id="all-games-finished">
              <div class="big-tile-header">
                <div>RESULT</div>
              </div>
              <div>{{ payout | currency }}</div>
            </div>
          </mat-grid-tile>
        </ng-template>
      </ng-container>
      <ng-template #faster>
        <mat-grid-tile
          class="tile big-tile clickable"
          rowspan="2"
          colspan="4"
          (click)="changeDrawTime()"
        >
          <div id="fast-forward">
            <div class="big-tile-header">
              <div>{{ fast ? "SLOWER" : "FASTER" }}</div>
            </div>
            <mat-icon [ngClass]="{ clicked: fast }">fast_forward</mat-icon>
          </div>
        </mat-grid-tile>
      </ng-template>

      <mat-grid-tile class="spacer-tile tile" colspan="1"></mat-grid-tile>

      <!-- The actual bottom row of the header-->
      <mat-grid-tile class="spacer-tile tile" colspan="1"></mat-grid-tile>
      <mat-grid-tile
        class="tile selected-5 clickable"
        colspan="2"
        [routerLink]="['../', AppRoutes.SETUP]"
        ><mat-icon>chevron_left</mat-icon>
      </mat-grid-tile>
      <mat-grid-tile
        class="tile selected-6 clickable"
        colspan="2"
        (click)="retry()"
        ><mat-icon>refresh</mat-icon></mat-grid-tile
      >
      <mat-grid-tile class="spacer-tile tile" colspan="4"></mat-grid-tile>
      <mat-grid-tile class="tile heads-tile" colspan="2">{{
        headCount
      }}</mat-grid-tile>
      <mat-grid-tile class="tile tails-tile" colspan="2">{{
        tailCount
      }}</mat-grid-tile>
    </mat-grid-list>
  </div>
  <div id="board">
    <div id="head-section">
      <ng-container
        *ngTemplateOutlet="
          tileTemplate;
          context: { tiles: headTiles, name: 'heads' }
        "
      ></ng-container>
    </div>
    <div id="tail-section">
      <ng-container
        *ngTemplateOutlet="
          tileTemplate;
          context: { tiles: tailTiles, name: 'tails' }
        "
      ></ng-container>
    </div>
  </div>
</section>

<ng-template #tileTemplate let-tiles="tiles" let-name="name">
  <mat-grid-list cols="22" rowHeight="1:1" gutterSize="4" class="mb-4">
    <mat-grid-tile rowspan="4" colspan="1" class="{{ name }}-tile board-label"
      ><span>{{ name | titlecase }}</span>
    </mat-grid-tile>
    <mat-grid-tile
      *ngFor="let tile of tiles"
      class="tile"
      fxLayoutAlign="center center"
      [id]="'tile-' + tile"
      colspan="2"
    >
      {{ tile }}
    </mat-grid-tile>
  </mat-grid-list>
</ng-template>

<section
  id="game-summary"
  *ngIf="gameNumber == config.games! && gameFinished && showSummary"
>
  <h1>Games Summary</h1>
  <div fxLayout="column">
    <div
      id="games-played"
      class="big-tile"
      fxLayoutAlign="center center"
      fxLayout="column"
      fxLayoutGap="4px"
    >
      <div class="big-tile-header">
        <div>GAMES PLAYED</div>
      </div>
      <div>{{ config.games }}</div>
    </div>
    <div
      id="payout"
      class="big-tile"
      fxLayoutAlign="center center"
      fxLayout="column"
      fxLayoutGap="4px"
    >
      <div class="big-tile-header">
        <div>PAYOUT</div>
      </div>
      <div>{{ payout | currency }}</div>
    </div>
    <div
      id="games-played"
      class="big-tile"
      fxLayoutAlign="center center"
      fxLayout="column"
      fxLayoutGap="4px"
    >
      <div class="big-tile-header">
        <div>SPENT</div>
      </div>
      <div>{{ config.games! * config.bet! | currency }}</div>
    </div>
    <div
      id="head-count-summary"
      class="big-tile"
      fxLayoutAlign="center center"
      fxLayout="column"
      fxLayoutGap="4px"
    >
      <div class="big-tile-header">
        <div>HEAD COUNT</div>
      </div>
      <div>{{ totalHeadCount }}</div>
    </div>
    <div
      id="tail-count-summary"
      class="big-tile"
      fxLayoutAlign="center center"
      fxLayout="column"
      fxLayoutGap="4px"
    >
      <div class="big-tile-header">
        <div>TAIL COUNT</div>
      </div>
      <div>{{ totalTailCount }}</div>
    </div>
    <div
      id="even-count-summary"
      class="big-tile"
      fxLayoutAlign="center center"
      fxLayout="column"
      fxLayoutGap="4px"
    >
      <div class="big-tile-header">
        <div>EVEN COUNT</div>
      </div>
      <div>{{ totalEvenCount }}</div>
    </div>
  </div>
</section>
