:root {
    --tile-width: 8.5vw;
    --tile-gap: 4px;
    --tile-height: 5vw;
}

#game-container {
  padding: 0 1em;
}

.result-header {
  .tile,
  .big-tile {
    color: white !important;
  }
}

.tile {
  width: 8.5vw;
  text-align: center;
  height: 5vw;
  border-radius: 0.25em;
  margin: 2px 0;
  background: #d8e4eb;
  font-size: 3vw;
  color: #0000;
}

.selected {
  color: white;
  // font-weight: bold;
}

.tails {
  margin-top: 1em;
}

.big-tile {
  width: calc((8.5vw * 2) + 4px);
  text-align: center;
  height: 10vw;
  border-radius: 0.25em;
  margin: 2px 0;
  background: #d8e4eb;
  font-size: 2em;
  background-color: var(--big-tile);
}

.heads-tile {
  background-color: var(--heads);
}

.tails-tile {
  background-color: var(--tails);
}

#heads-title {
  color: var(--heads);
}

#tails-title {
  color: var(--tails);
}

.back-tile {
  background-color: var(--row5);
}

#back-title {
  color: var(--row5);
}

.back-tile {
  background-color: var(--row5);
}

#back-title {
  color: var(--row5);
}

.run-tile {
  background-color: var(--row6);
}

#run-title {
  color: var(--row6);
}

.big-tile-header {
  font-size: 2vw;
}

#fast-forward {
  .clicked {
    // color: #0facde;
  }
}
.clickable:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

#game-summary {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 50vw;
  height: 80vh;
  background: #d8e4eb;
  border-radius: 1em;
  z-index: 1000;
  position: absolute;
  margin-right: auto;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  box-shadow: 0 11px 15px -7px #0003, 0 24px 38px 3px #00000024,
    0 9px 46px 8px #0000001f;
}

#heads-board-label, #tails-board-label, .spacer-label {
    // 4 times the height of a tile plus 4px * rows - 1
    height: calc(20vw + 12px);
    border-radius: 0.25em;
    width:3vw;
    color: white;
}

.spacer-label {
    height: 100%;
}
.board-label {
    transform: rotate(-90deg);
    font-size: 2vw;
}

.spacer-tile {
    visibility: hidden;
}